# Android TWA Digital Asset Links
# Get this fingerprint from your keystore after running:
# keytool -list -v -keystore android/android.keystore -alias dotmag_release
# Format: AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99:AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99
ANDROID_SHA256_FINGERPRINT=
